.ContestTasks {
    margin-bottom: 20px;

    .Task {
        .Order {
            display: inline-block;
            min-width: 50px;
        }
    }
}

.ContestIssues {
    .Issue {
        .Order {
            display: inline-block;
            min-width: 50px;
        }

        .Message {
            margin-left: 10px;
        }
    }
}