.ContestsPage {

  .my-button,
  .my-card {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    margin-bottom: 8px;
    cursor: pointer;
  }

  .my-button {
    padding: .5rem;
  }

  .my-card {
    padding: 1rem;
  }
  .my-card:hover {
    box-shadow: 0 0 5px rgba(33, 33, 33, .2);
  }

  .title-container {
    display: flex;
    justify-content: space-between;
  }
}

.Contest {

  .deadline {
    margin-top: 0.5em;
    font-size: 12px;
    color: gray;
  }

}
